html *
{
   font-family: 'Oswald', sans-serif !important;
}

.App {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  flex-flow: column;
}

.tab-container{
  display: flex;
}

.tab-card{
  border: 1px solid black;
  margin: 1em;
  border-radius: 10px;
  /* display: flex; */
  width: 350px;
  /* justify-content: space-evenly;*/
}

.new-env{
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  right: 5px;
}

.input-env{
  margin: 20px;
  background-color: white;
}

.header{
  width:100%;
  background-color: rgb(255, 75, 75);
  height: 10vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.tab-header{
  border: 1px solid black;
  align-self: flex-start;
  justify-self: flex-start;
  margin: 20px;
}

.link-circle{
  border: 1px solid black;
  width: 90%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  
}


.link-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column;
  width: 100%;
  border: 1px solid black;
  margin: auto;
  width: 75%;
  margin-bottom: 10px;
  height: 20em;
  overflow-y: scroll;
  padding: 20px;

}

.add-link{
  display: flex;
  /* flex-flow: column; */
  align-items: center;
  width: 50%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 30%;
  background-color: white;
  justify-content: space-evenly;
}